@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html, body {
  height: 100%;
  font-family: "Myriad Pro";
}

.header {
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

.title {
  font-size: clamp(24px, 3vw, 34px);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

.line {
  padding: 2% 0 0 0;
  border-bottom: 2px solid #000000;
  width: 110px;
}

.header__container {
  padding: clamp(50px, 5vw, 160px) 0 0 0;
  height: 100%;
  max-width: 100%;
  background: url(../img/BG-Header.png) 0 0/100% no-repeat;
  background-size: cover;
  color: #fff;
  line-height: clamp(28px, 3vw, 40px);
  width: 100%;
}
.header__container__logo {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 clamp(10px, 3vw, 150px) 0;
  max-width: 300px;
}
.header__container__title {
  font-size: clamp(28px, 3vw, 34px);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}
.header__container__subTitle {
  font-size: clamp(22px, 3vw, 34px);
  letter-spacing: 3px;
}
.header__container__line {
  padding: clamp(30px, 3vw, 60px) 0 0 0;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
  width: 110px;
}
.header__container__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: clamp(10px, 10vw, 200px);
  margin: 0 auto;
}
.header__container__button button {
  margin: 0 auto;
  padding: 15px 0px;
  margin-bottom: clamp(15px, 2vw, 50px);
  width: 100%;
  width: 180px;
  max-height: 50px;
  background-image: none;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
}
.header__container__button button:hover {
  background-color: rgba(255, 255, 255, 0.438);
}

.menu__container {
  margin: 0 auto;
  padding: clamp(8px, 2vw, 20px) 0;
  -webkit-box-shadow: 5px 5x 5x #121212;
          box-shadow: 5px 5x 5x #121212;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
.menu__container__link {
  font-size: 14px;
  color: #51413c;
  padding: 0 clamp(15px, 3vw, 25px);
}
.menu__container__link:hover {
  font-weight: bold;
}
.menu__container__line {
  border-bottom: 1px #f2f2f2 solid;
}

.aboutUS {
  padding: 7.5% 0 5% 0;
  text-align: center;
}
.aboutUS__title {
  font-size: clamp(24px, 3vw, 34px);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}
.aboutUS__line {
  padding: 2% 0 0 0;
  margin: 0 auto;
  border-bottom: 2px solid #000000;
  width: 110px;
}
.aboutUS__subTitle {
  padding-top: 2%;
  line-height: clamp(18px, 3vw, 26px);
  color: #8e8d8d;
  font-size: clamp(12px, 3vw, 14px);
}
.aboutUS__blocks {
  max-width: 46.8%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4.5%;
}
.aboutUS__blocks__content {
  padding: 0 2.4%;
}
.aboutUS__blocks__content img {
  max-width: 100px;
}
.aboutUS__blocks__content__title {
  font-size: clamp(16px, 3vw, 34px);
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 40px 0;
}
.aboutUS__blocks__content__subTitle {
  line-height: clamp(18px, 3vw, 26px);
  color: #8e8d8d;
  font-size: clamp(12px, 3vw, 14px);
}

.aboutUS--container {
  margin: 0 auto;
}

.portfolio {
  padding: 110px 0 0 0;
  text-align: center;
  background-color: #f3f3f3;
}
.portfolio__title {
  font-size: clamp(24px, 3vw, 34px);
  letter-spacing: 5px;
}
.portfolio__line line {
  padding: 2% 0 0 0;
  margin: 0 auto;
  border-bottom: 2px solid #000000;
  width: 110px;
}
.portfolio__links {
  padding: 2% 0 150px 0;
  word-spacing: 50px;
}
.portfolio__links__link {
  font-size: 15px;
  text-transform: uppercase;
  color: #3c3c3c;
}
.portfolio__block__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__block__images__image {
  margin: 15px;
  width: 540px;
  min-height: 360px;
  background-color: #eaeaea;
}
.portfolio__button {
  padding: 60px 0;
  margin: 0 auto;
}
.portfolio__button button {
  padding: 15px 0px;
  width: 100%;
  max-width: 180px;
  max-height: 50px;
  background-image: none;
  background: transparent;
  border: 1px solid #000000;
  color: #000000;
  text-transform: uppercase;
}
.portfolio__button button:hover {
  background-color: rgba(175, 175, 175, 0.438);
}

.active {
  color: #ada074;
}

.portfolio--container {
  max-width: 1200px;
  margin: 0 auto;
}

.parners {
  background: url(../img/Без\ имени-1.png) 0 0px no-repeat;
  background-size: cover;
}
.parners__title {
  padding: clamp(50px, 5vw, 80px) 0 clamp(70px, 5vw, 100px) 0;
  font-size: clamp(24px, 3vw, 34px);
  letter-spacing: 5px;
  color: #fff;
}
.parners__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.parners__images__logo-company-parners {
  padding: 0 50px 100px;
}

.parners--container {
  text-align: center;
  width: 100%;
}

.contact {
  padding: 180px 10px 0;
}
.contact__title {
  text-align: center;
}
.contact__line {
  margin: 0 auto;
}
.contact__information {
  width: 100%;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__information__firstline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 80px 0;
}
.contact__information__firstline__inf {
  background-color: #f8f7f7;
  border-top: 1px solid #000000;
  width: 100%;
  min-height: 40px;
}
.contact__information__firstline__inp {
  margin: 0 5px;
  width: 100%;
  max-width: 160px;
}
.contact__information__firstline__inp p {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: clamp(12px, 3vw, 14px);
  padding-bottom: 10px;
}
.contact__information__secondline p {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: clamp(12px, 3vw, 14px);
  padding-bottom: 10px;
}
.contact__information__secondline__message {
  background-color: #f8f7f7;
  border-top: 1px solid #000000;
  min-height: 120px;
  width: 100%;
  max-width: 360px;
}
.contact__information__but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-top: 40px;
}
.contact__information__send {
  max-width: 50px;
  background: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.contact__discription {
  padding: 0 0 0 55px;
  max-width: 300px;
  font-size: clamp(12px, 3vw, 14px);
  line-height: clamp(18px, 3vw, 26px);
}
.contact__discription__name {
  padding: clamp(30px, 5vw, 50px) 0 0 0;
}
.contact__discription__links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 5px;
}
.contact__discription__e-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__discription__e-mail .eml-child:nth-child(1) {
  font-weight: bold;
}
.contact__discription__e-mail .eml-child:nth-child(2) {
  padding: 0 0 0 15px;
}

.contact--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
}
.contact--container .header {
  height: auto;
}

@media (max-width: 1400px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 950px) {
  .header__container__logo img {
    width: clamp(180px, 15vw, 300px);
  }
  .header__container__button {
    padding-top: clamp(10px, 1vw, 200px);
  }
}
@media (max-width: 540px) {
  .header {
    height: 80%;
  }
  .contact {
    padding-top: 80px;
  }
  .contact--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .contact__information {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact__information__firstline {
    padding-bottom: 50px;
  }
  .contact__information__but {
    padding-top: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__information__send {
    font-size: 16px;
  }
  .contact__discription {
    padding: 0 0 40px 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact__discription__e-mail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}